<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Frameworkers</title>
  </head>
  <body>
    <!-- Display a question and their options-->
    <div class="align">
      <table>
          <thead>
              <tr>
                  <th id="question" colspan="2" scope="col"></th>
              </tr>
          </thead>
      </table>
  </div>
    <form action="" method="">          
      <td><button type="submit" class="button" name="response" id="option1"value=""></button></td>
      <td><button type="submit" class="button" name="response" id="option2"value=""></button></td>                    
  </form>
  </body>
</html>