{% extends "base.html" %}
{% block title %}Recommendation{% endblock %}
{% block content %}
<body>
  <div class="p-4 mx-5 my-3 bg-light rounded-4">
    <div class="container-fluid p-4">
      <div class="row">
        <div class="col-1 align-items-center">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 mt-2">
            <img src="{{url_for('static', filename=icon)}}"/>
          </div>
        </div>
        <div class="col-9">
          <h6>{{ recommendation.framework_name }}</h6>
          <p>{{ recommendation.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 mx-5 my-3 border rounded-4">
    <div class="container-fluid">
      <h4>What is it?</h4>
      <p>{{ recommendation.summary }}</p>
      <div class="container">
        <div class="center">
          <button type="button" onclick="location.href='/library';" class="button-more">Tell me more</button>
        </div>
    </div>
    </div>
  </div>
  <div class="p-3 mx-5 my-3 border rounded-4">
    <div class="container-fluid">
      <h4>How to use?</h4>
      <p>{{ recommendation.how_to_use }}</p>
      <div class="container">
        <div class="center">
          <button type="button" onclick="location.href='/library'" class="button-more">Tool for application</button>
        </div>
    </div>
    </div>
  </div>
  <h3>Similar Frameworks</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4 p-3">
    <div class="col">
      <div class="card h-100 mx-2 my-2">
        <div class="card-body">
          <h5 class="card-title">{{framework.query.get(recommendation.related_framework_1).framework_name}}</h5>
          <p class="card-text">{{framework.query.get(recommendation.related_framework_1).description}}</p>
        </div>
        <div class="card-footer">
          <a href="/framework/{{recommendation.related_framework_1}}" class="btn btn-dark">Read more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mx-2 my-2">
        <div class="card-body">
          <h5 class="card-title">{{framework.query.get(recommendation.related_framework_2).framework_name}}</h5>
          <p class="card-text">{{framework.query.get(recommendation.related_framework_2).description}}</p>
        </div>
        <div class="card-footer">
          <a href="/framework/{{recommendation.related_framework_2}}" class="btn btn-dark">Read more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mx-2 my-2">
        <div class="card-body">
          <h5 class="card-title">{{framework.query.get(recommendation.related_framework_3).framework_name}}</h5>
          <p class="card-text">{{framework.query.get(recommendation.related_framework_3).description}}</p>
        </div>
        <div class="card-footer">
          <a href="/framework/{{recommendation.related_framework_3}}" class="btn btn-dark">Read more</a>
        </div>
      </div>
    </div>
  <div class="container">
      <div class="center">
        <button type="button" onclick="location.href='/library'">See more</button>
      </div>
  </div>
</body>
{% endblock %}